/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1250px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1249.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1250px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_group {
  margin-bottom: 10px;
}

.form_control {
  margin: 0;
  width: 100%;
  height: 47px;
  outline: none;
  color: #ABABAB;
  font-weight: 400;
  background: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 15px 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #D8D8D8;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.form_control::-moz-placeholder {
  color: #ABABAB;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #ABABAB;
}
.form_control::-webkit-input-placeholder {
  color: #ABABAB;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}

textarea.form_control {
  height: auto;
}

.btn {
  color: #272727;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 12px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #707070;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  border-radius: 23px;
}
.btn:hover {
  color: #fff;
  background: #272727;
  border-color: #272727;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:active {
  color: #272727;
  background: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_red {
  color: #fff;
  background: #E84941;
  border-color: #E84941;
}
.btn_red:hover {
  color: #fff;
  background: #e86963;
  border-color: #E84941;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_red:active {
  background: #E84941;
  border-color: #E84941;
}

.btn_border_red {
  color: #E84941;
  border-color: #E84941;
}
.btn_border_red:hover {
  color: #fff;
  background-color: #E84941;
}

.btn_shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 25, 25, 0.33);
  box-shadow: 0px 0px 10px 0px rgba(212, 25, 25, 0.33);
}

.btn_md {
  padding: 17px 30px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  border-radius: 28px;
}

.btn_group {
  padding: 0;
  margin: 0 -7px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_group > li {
  padding: 7px;
}

.embed_responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed_responsive::before {
  display: block;
  content: "";
}
.embed_responsive .embed_responsive-item,
.embed_responsive iframe,
.embed_responsive embed,
.embed_responsive object,
.embed_responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed_responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed_responsive-16by9::before {
  padding-top: 56.25%;
}

.embed_responsive-4by3::before {
  padding-top: 75%;
}

.embed_responsive-1by1::before {
  padding-top: 100%;
}

.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #272727;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.75;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 1224px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, .h1 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4rem;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
}
h1:before, .h1:before {
  left: 0;
  bottom: 0;
  content: "";
  height: 4px;
  width: 150px;
  position: absolute;
  display: inline-block;
  background: #E84941;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 4.2rem;
    line-height: 4.6rem;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 5rem;
    line-height: 5.4rem;
  }
}
@media (min-width: 1250px) {
  h1, .h1 {
    font-size: 5.6rem;
    line-height: 6rem;
  }
  h1:before, .h1:before {
    width: 200px;
  }
}

h2, .h2 {
  position: relative;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
}
h2:before, .h2:before {
  left: 0;
  bottom: 0;
  content: "";
  height: 3px;
  width: 100px;
  position: absolute;
  display: inline-block;
  background: #E84941;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 3rem;
  }
  h2:before, .h2:before {
    width: 150px;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Oswald", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Oswald", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Oswald", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Oswald", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #272727;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #272727;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
  background: #fff;
}
.header.fix_top {
  border-bottom: 1px solid #D8D8D8;
}
.header__row {
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  width: 80px;
  display: block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__toggle {
  width: 60px;
  height: 60px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.header__toggle:after, .header__toggle:before {
  left: 50%;
  z-index: 10;
  width: 24px;
  height: 2px;
  content: "";
  background: #000;
  margin-left: -12px;
  position: absolute;
  display: inline-block;
}
.header__toggle:after {
  top: 20px;
}
.header__toggle:before {
  bottom: 20px;
}
.header__toggle span {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 24px;
  height: 2px;
  content: "";
  background: #000;
  margin-top: -1px;
  margin-left: -12px;
  position: absolute;
  display: inline-block;
}
.header__content {
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  z-index: 1100;
  display: block;
  position: fixed;
  background: #fff;
  padding: 30px 20px;
  margin-left: -300px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(212, 25, 25, 0.33);
  box-shadow: 0px 0px 10px 0px rgba(212, 25, 25, 0.33);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav {
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.7rem;
  list-style: none;
  margin: 0 0 30px 0;
}
.header__nav > li {
  margin-bottom: 10px;
}
.header__nav > li > a {
  padding: 2px 0;
  color: #272727;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.header__nav > li > a:hover {
  color: #E84941;
  text-decoration: none;
  border-bottom-color: #E84941;
}
.header__nav > li.active > a {
  color: #E84941;
  border-bottom-color: #E84941;
}
.header__contact {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__contact > li:first-child {
  margin-bottom: 15px;
}
.header__phone {
  color: #272727;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header__phone:hover {
  color: #272727;
  text-decoration: none;
}
.header__phone i {
  display: none;
}
.header__phone span {
  display: block;
}
.header__phone strong {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
}
.header.nav_open .header__content {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header.nav_open .header__toggle span {
  display: none;
}
.header.nav_open .header__toggle:after {
  top: 29px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header.nav_open .header__toggle:before {
  bottom: 29px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (min-width: 768px) {
  .header {
    position: absolute;
    background: transparent;
  }
  .header__row {
    padding: 40px 0 0 0;
    height: auto;
  }
  .header.fix_top {
    background: #fff;
    border-bottom: 1px solid #D8D8D8;
  }
  .header.fix_top .header__toggle:after, .header.fix_top .header__toggle:before {
    background: #000;
  }
  .header.fix_top .header__toggle span {
    background: #000;
  }
  .header__toggle:after, .header__toggle:before {
    background: #fff;
  }
  .header__toggle span {
    background: #fff;
  }
}
@media (min-width: 992px) {
  .header {
    background: transparent;
  }
  .header.fix_top {
    background: transparent;
    border-bottom: none;
  }
  .header__toggle {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
  .header__content {
    margin: 0;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 0;
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .header__nav {
    margin: 0 0 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav > li {
    margin: 0 15px;
  }
  .header__contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .header__contact > li:first-child {
    margin: 0 30px 0 0;
  }
  .header__phone {
    color: #fff;
  }
  .header__phone:hover {
    color: #fff;
  }
}
@media (min-width: 1250px) {
  .header__logo {
    width: 115px;
  }
  .header__nav {
    margin: 0 0 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav > li {
    margin: 0 22px;
  }
  .header__phone {
    margin-right: 35px;
    padding-left: 57px;
  }
  .header__phone i {
    left: 0;
    top: 50%;
    width: 42px;
    height: 42px;
    margin-top: -21px;
    position: absolute;
    display: inline-block;
  }
}

.footer {
  padding: 35px 0;
}
.footer__logo {
  width: 80px;
  display: block;
  margin: 0 auto 15px auto;
}
.footer__text {
  color: #707070;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.footer__contact {
  display: none;
}
.footer__phone {
  color: #272727;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  margin-right: 35px;
  padding-left: 57px;
  display: inline-block;
  text-decoration: none;
}
.footer__phone:hover {
  color: #272727;
  text-decoration: none;
}
.footer__phone i {
  left: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  position: absolute;
  display: inline-block;
}
.footer__phone span {
  display: block;
}
.footer__phone strong {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
}
@media (min-width: 576px) {
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__logo {
    margin: 0 55px 0 0;
  }
  .footer__text {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .footer__contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}
@media (min-width: 1250px) {
  .footer__logo {
    width: 115px;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-top: 60px;
  padding-bottom: 70px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.contacts {
  position: relative;
}
.contacts__map {
  height: 360px;
}
.contacts__box {
  background: #fff;
  padding-bottom: 50px;
}
.contacts__box h2 {
  margin-bottom: 25px;
}
.contacts__item {
  display: block;
  color: #272727;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 5px 0 5px 57px;
}
.contacts__item:hover {
  color: #272727;
  text-decoration: none;
}
.contacts__item i {
  left: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  position: absolute;
  display: inline-block;
}
.contacts__item span {
  display: block;
}
.contacts__item strong {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}
.contacts__item a {
  color: #272727;
  text-decoration: none;
}
.contacts__item a:hover {
  color: #272727;
  text-decoration: none;
}
.contacts__item_phone {
  background: url("../img/icon__phone.svg") 0 50% no-repeat;
}
.contacts__item_email {
  background: url("../img/icon__email.svg") 0 50% no-repeat;
}
.contacts__item_address {
  background: url("../img/icon__address.svg") 0 50% no-repeat;
}
@media (min-width: 768px) {
  .contacts {
    height: 360px;
  }
  .contacts .container {
    z-index: 30;
    position: relative;
  }
  .contacts__box {
    top: 0;
    left: 0;
    width: 280px;
    height: 360px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__box:before {
    top: 0;
    left: -2000px;
    z-index: 1;
    content: "";
    height: 100%;
    width: 2000px;
    display: block;
    background: #fff;
    position: absolute;
  }
  .contacts__box_wrap {
    margin: auto 0;
    padding: 40px 15px;
  }
  .contacts__map {
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(50% + 95px);
    z-index: 1;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .contacts {
    height: 470px;
  }
  .contacts__map {
    height: 470px;
  }
  .contacts__box {
    width: 400px;
    height: 470px;
  }
}
@media (min-width: 1250px) {
  .contacts__map {
    width: calc(50% + 212px);
  }
}

.heading {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.heading .container {
  z-index: 10;
  position: relative;
}
.heading__image {
  top: 0;
  left: 0;
  z-index: 1;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.heading__wrap {
  padding: 120px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.heading__inner {
  margin: auto 0;
}
.heading h1 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .heading__wrap {
    height: 423px;
    padding: 150px 0 0 0;
  }
  .heading__content {
    width: 450px;
  }
  .heading__image {
    top: 0;
    left: 50%;
    width: 846px;
    height: 423px;
    margin-left: 115px;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .heading__content {
    width: 600px;
  }
}
@media (min-width: 1250px) {
  .heading__content {
    width: 650px;
  }
}

.goods_wrap {
  margin: 0 auto;
  max-width: 360px;
  padding-bottom: 22px;
}
@media (min-width: 576px) {
  .goods_wrap {
    width: 100%;
    max-width: inherit;
  }
}
@media (min-width: 992px) {
  .goods_wrap {
    padding-bottom: 42px;
  }
}

.goods {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.goods__image {
  display: block;
}
.goods__title {
  min-height: 84px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.goods__buttons {
  padding: 0;
  margin: 0 -8px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.goods__buttons > li {
  width: 50%;
  padding: 0 8px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.goods__buttons .btn {
  padding: 12px 5px;
  width: 100%;
}
@media (min-width: 992px) {
  .goods__title {
    padding: 20px 35px;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

.content {
  padding-top: 80px;
}

.like h2 {
  margin-bottom: 30px;
}

.product__gallery {
  font-size: 0;
  line-height: 0;
  margin: 0 auto 30px auto;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.product__gallery_thumbs {
  margin: 0 -6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.product__gallery_thumb {
  margin: 0 6px;
  display: block;
  position: relative;
  width: calc(25% - 12px);
}
.product__gallery_thumb:before {
  top: 0;
  height: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  border: 2px solid #E84941;
}
.product__gallery_thumb:hover {
  opacity: 1;
}
.product__gallery_image {
  margin-bottom: 10px;
}
.product__info_title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 10px;
}
.product__info_text {
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.product__info_price {
  padding-top: 30px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 40px;
}
.product__info_price strong {
  font-size: 3rem;
  line-height: 2rem;
}
.product__info .btn {
  width: 210px;
}
@media (min-width: 768px) {
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .product__gallery {
    margin: 0;
    width: calc(50% - 25px);
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .product__info {
    padding-left: 40px;
    width: calc(50% - 25px);
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .product__info {
    padding-top: 25px;
  }
}
@media (min-width: 1250px) {
  .product__gallery {
    width: 582px;
  }
  .product__info {
    width: 550px;
  }
}

.primary {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  background: #fff;
}
.primary .container {
  z-index: 10;
  position: relative;
}
.primary__wrap {
  padding: 100px 0 60px 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.primary__item {
  overflow: hidden;
  position: relative;
}
.primary__image {
  top: 0;
  left: 0;
  z-index: 1;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.primary__inner {
  margin: auto 0;
}
.primary__text {
  margin-bottom: 50px;
}
.primary .owl-dots {
  top: 0;
  left: 20px;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.primary .owl-dots button {
  border: none;
  font-size: 0;
  line-height: 0;
  height: 20px;
  width: 50px;
  outline: none;
  padding: 9px 0;
  display: block;
  margin: 0;
  text-align: left;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.primary .owl-dots button span {
  width: 28px;
  height: 2px;
  background: #D8D8D8;
  display: inline-block;
}
.primary .owl-dots button:last-child {
  margin-bottom: 0;
}
.primary .owl-dots button.active {
  width: 50px;
}
.primary .owl-dots button.active span {
  width: 50px;
  background: #E84941;
}
@media (min-width: 768px) {
  .primary__item {
    width: 100%;
    background-position: 50% 50%;
  }
  .primary__image {
    top: 50%;
    left: 50%;
    width: 846px;
    height: 800px;
    margin-top: -400px;
    margin-left: 115px;
    opacity: 1;
    visibility: visible;
  }
  .primary__wrap {
    height: 100vh;
    max-height: 800px;
    min-height: inherit;
  }
  .primary__content {
    width: 450px;
  }
  .primary .btn {
    width: 210px;
  }
}
@media (min-width: 992px) {
  .primary__content {
    width: 550px;
  }
}
@media (min-width: 1250px) {
  .primary__content {
    width: 650px;
  }
  .primary__wrap {
    padding-top: 130px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1500px) {
  .primary .owl-dots {
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1600px) {
  .primary .owl-dots {
    left: 80px;
  }
}

.about {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
}
.about__video {
  max-width: 400px;
  margin-bottom: 30px;
}
.about__video a {
  display: block;
  position: relative;
}
.about__video a:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  content: "";
  width: 67px;
  height: 67px;
  position: absolute;
  display: inline-block;
  margin: -33px 0 0 -33px;
  background: url("../img/icon__play.svg") 50% 50% no-repeat;
}
.about__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
@media (min-width: 992px) {
  .about__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .about__video {
    margin: 0;
    max-width: inherit;
    width: calc(50% - 15px);
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .about__text {
    width: calc(50% - 15px);
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1250px) {
  .about__text {
    padding-left: 40px;
  }
}

.partners__row {
  font-size: 0;
  line-height: 0;
  margin: 0 -12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.partners__item {
  width: calc(50% - 24px);
  overflow: hidden;
  text-align: center;
  margin: 0 12px 24px 12px;
  border: 1px solid #D8D8D8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.partners__item .img_fluid {
  display: inline-block;
}
@media (min-width: 768px) {
  .partners {
    padding-bottom: 26px;
  }
  .partners__row {
    margin: 0 -6px;
  }
  .partners__item {
    margin: 0 6px 24px 6px;
    width: calc(20% - 12px);
  }
}
@media (min-width: 992px) {
  .partners__row {
    margin: 0 -12px;
  }
  .partners__item {
    margin: 0 12px 24px 12px;
    width: calc(20% - 24px);
  }
}
.why {
  padding-top: 60px;
}
.why__item {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  margin-bottom: 55px;
}
.why__item_icon {
  height: 60px;
  margin-bottom: 15px;
}
.why__item_name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 5px;
}
.why__item_text {
  display: block;
}
@media (min-width: 576px) {
  .why__row {
    margin: 0 -25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .why__item {
    width: 50%;
    padding: 0 25px;
  }
}
@media (min-width: 768px) {
  .why h2 {
    margin-bottom: 55px;
  }
}
@media (min-width: 992px) {
  .why__item {
    width: 33.33%;
  }
}
.question h2 {
  margin-bottom: 10px;
}
.question__content {
  padding-bottom: 40px;
}
.question__text {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}
.question__text p {
  margin: 0 0 10px 0;
}
.question__form {
  padding: 40px 0;
  margin: 0 -15px;
  position: relative;
  background: url("../img/question__form_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.question__form_wrap {
  z-index: 10;
  margin: 0 auto;
  max-width: 336px;
  position: relative;
}
.question__form_title {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.6rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
}
.question__form .btn {
  width: 180px;
  margin-top: 15px;
}
@media (min-width: 576px) {
  .question__form {
    margin: 0;
    padding: 40px 30px;
  }
}
@media (min-width: 768px) {
  .question__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .question__content {
    width: 50%;
    padding-right: 20px;
  }
  .question__form {
    width: 50%;
    height: 470px;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .question__form:before {
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    width: 846px;
    height: 470px;
    position: absolute;
    background: url("../img/question__form_bg.jpg") 50% 50% no-repeat;
  }
  .question__form_wrap {
    margin: auto;
  }
}
@media (min-width: 992px) {
  .question__content {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .question__form {
    width: 480px;
  }
  .question__text {
    max-width: 550px;
  }
}
.cat {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cat__row {
  max-width: 378px;
  margin: 0 auto;
}
.cat__item {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cat__item_image {
  display: block;
}
.cat__item_name {
  padding: 20px 0;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 576px) {
  .cat__row {
    margin: 0 -10px;
    max-width: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cat__item {
    width: calc(50% - 20px);
    margin: 0 10px 50px 10px;
  }
}
@media (min-width: 992px) {
  .cat__item {
    width: calc(33% - 20px);
    margin: 0 10px 50px 10px;
  }
}
@media (min-width: 1250px) {
  .cat__row {
    margin: 0 -15px;
  }
  .cat__item {
    width: calc(33% - 30px);
    margin: 0 15px 50px 15px;
  }
  .cat__item_name {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

.advantage__item {
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 35px;
}
.advantage__item_icon {
  height: 60px;
  margin-bottom: 10px;
}
.advantage__item_title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .advantage {
    padding-top: 90px;
  }
  .advantage__row {
    margin: 0 -23px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .advantage__item {
    text-align: left;
    width: calc(50% - 46px);
    margin: 0 23px 35px 23px;
  }
}
@media (min-width: 992px) {
  .advantage__item {
    width: calc(25% - 46px);
  }
}
.modal {
  padding: 0;
  max-width: 384px;
  background: #fff;
}
.modal__row {
  position: relative;
}
.modal__content {
  padding: 37px 24px 41px 24px;
}
.modal__content .btn {
  margin-top: 10px;
}
.modal__success {
  height: 320px;
  text-align: center;
  padding: 20px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal__success_wrap {
  margin: auto 0;
}
.modal__success_icon {
  width: 98px;
  height: 98px;
  display: block;
  margin: 0 auto 24px auto;
}
.modal__success .modal__title {
  margin-bottom: 0;
}
.modal__image {
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  position: absolute;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.modal__title {
  color: #272727;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.6rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
}
.modal__title strong {
  display: block;
  font-size: 1.8rem;
}
.modal__title span {
  display: block;
}
@media (min-width: 768px) {
  .modal {
    width: 643px;
    max-width: inherit;
  }
  .modal__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__content {
    width: 384px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .modal__success {
    width: 384px;
  }
  .modal__image {
    top: auto;
    left: auto;
    width: 259px;
    height: auto;
    opacity: 1;
    position: relative;
    visibility: visible;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

/*# sourceMappingURL=main.css.map */
