* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h1, .h1 {
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 4rem;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-family: $font-family-head;

	&:before {
		left: 0;
		bottom: 0;
		content: '';
		height: 4px;
		width: 150px;
		position: absolute;
		display: inline-block;
		background: $color-red;
	}

	@media (min-width: $screen-md-min) {
		font-size: 4.2rem;
		line-height: 4.6rem;
		padding-bottom: 30px;

	}

	@media (min-width: $screen-lg-min) {
		font-size: 5rem;
		line-height: 5.4rem;
	}

	@media (min-width: $screen-xl-min) {
		font-size: 5.6rem;
		line-height: 6rem;

		&:before {
			width: 200px;
		}
	}
}


h2, .h2 {
	position: relative;
	font-size: 	2.4rem;
	line-height: 2.8rem;
	margin-bottom: 40px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: $font-family-head;


	&:before {
		left: 0;
		bottom: 0;
		content: '';
		height: 3px;
		width: 100px;
		position: absolute;
		display: inline-block;
		background: $color-red;
	}

	@media (min-width: $screen-md-min) {
		font-size: 3rem;

		&:before {
			width: 150px;
		}

	}
}

h3, .h3 {
	font-size: 2.4rem;
	font-family: $font-family-head;
}

h4, .h4 {
	font-size: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	font-family: $font-family-head;
}

p {
	margin: 0 0 20px 0;
}


// Links

a {
	outline: none;
	color: $color-base;
	text-decoration: underline;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $color-base;
		text-decoration: none;
	}
}