.footer {
	padding: 35px 0;

	&__logo {
		width: 80px;
		display: block;
		margin: 0 auto 15px auto;
	}

	&__text {
		color: #707070;
		text-align: center;
		font-size: 1.3rem;
		line-height: 1.7rem;
	}

	&__contact {
		display: none;
	}

	&__phone {
		color: #272727;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2rem;
		position: relative;
		margin-right: 35px;
		padding-left: 57px;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #272727;
			text-decoration: none;
		}

		i {
			left: 0;
			top: 50%;
			width: 42px;
			height: 42px;
			margin-top: -21px;
			position: absolute;
			display: inline-block;
		}

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__content {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__logo {
			margin: 0 55px 0 0;
		}

		&__text {
			text-align: left;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__content {
			@include justify-content(flex-start);
		}

		&__contact {
			@include flexbox();
			@include align-items(center);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__logo {
			width: 115px;
		}
	}
}