.primary {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.5;
	background: #fff;

	.container {
		z-index: 10;
		position: relative;
	}

	&__wrap {
		padding: 100px 0 60px 0;
		min-height: 100vh;
		@include flexbox();
		@include flex-direction(column);
	}

	&__item {
		overflow: hidden;
		position: relative;
	}

	&__image {
		top: 0;
		left: 0;
		z-index: 1;
		width: 1px;
		height: 1px;
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}

	&__inner {
		margin: auto 0;
	}

	&__text {
		margin-bottom: 50px;
	}

	.owl-dots {
		top: 0;
		left: 20px;
		bottom: 0;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		@include flexbox();
		@include align-items(flex-start);
		@include flex-direction(column);
		@include justify-content(center);


		button {
			border: none;
			font-size: 0;
			line-height: 0;
			height: 20px;
			width: 50px;
			outline: none;
			padding: 9px 0;
			display: block;
			margin: 0;
			text-align: left;
			background: transparent;
			@include border-radius(2px);

			span {
				width: 28px;
				height: 2px;
				background: #D8D8D8;
				display: inline-block;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.active {
				width: 50px;


				span {
					width: 50px;
					background: $color-red;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
	//	background: #fff url("../img/homepage_top_bg.jpg") 50% 50% no-repeat;

		&__item {
			width: 100%;
			background-position: 50% 50%;
		}

		&__image {
			top: 50%;
			left: 50%;
			width: 846px;
			height: 800px;
			margin-top: -400px;
			margin-left: 115px;
			opacity: 1;
			visibility: visible;
		}

		&__wrap {
			height: 100vh;
			max-height: 800px;
			min-height: inherit;
		}

		&__content {
			width: 450px;
		}

		.btn {
			width: 210px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			width: 550px;
		}
	}

	@media (min-width: $screen-xl-min) {
		&__content {
			width: 650px;
		}

		&__wrap {
			padding-top: 130px;
			padding-bottom: 100px;
		}
	}

	@media (min-width: 1500px) {

		.owl-dots {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width: 1600px) {

		.owl-dots {
			left: 80px;
		}
	}
}


.about {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 80px;

	&__row {

	}

	&__video {
		max-width: 400px;
		margin-bottom: 30px;

		a {
			display: block;
			position: relative;

			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				content: '';
				width: 67px;
				height: 67px;
				position: absolute;
				display: inline-block;
				margin: -33px 0 0 -33px;
				background: url("../img/icon__play.svg") 50% 50% no-repeat;
			}
		}
	}

	&__text {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__video {
			margin: 0;
			max-width: inherit;
			width: calc(50% - 15px);
			@include flex-shrink(0);
		}

		&__text {
			width: calc(50% - 15px);
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__text {
			padding-left: 40px;
		}
	}
}

.partners {

	&__row {
		font-size: 0;
		line-height: 0;
		margin: 0 -12px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);
	}

	&__item {
		width: calc(50% - 24px);
		overflow: hidden;
		text-align: center;
		margin: 0 12px 24px 12px;
		border: 1px solid #D8D8D8;
		@include border-radius(4px);

		.img_fluid {
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 26px;

		&__row {
			margin: 0 -6px;
		}

		&__item {
			margin: 0 6px 24px 6px;
			width: calc(20% - 12px);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			margin: 0 -12px;
		}

		&__item {
			margin: 0 12px 24px 12px;
			width: calc(20% - 24px);
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.why {
	padding-top: 60px;

	&__row {

	}

	&__item {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.2rem;
		text-align: center;
		margin-bottom: 55px;

		&_icon {
			height: 60px;
			margin-bottom: 15px;
		}

		&_name {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			margin-bottom: 5px;
		}

		&_text {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			margin: 0 -25px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);
		}

		&__item {
			width: 50%;
			padding: 0 25px;
		}
	}

	@media (min-width: $screen-md-min) {

		h2 {
			margin-bottom: 55px;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__item {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.question {

	h2 {
		margin-bottom: 10px;
	}

	&__row {

	}

	&__content {
		padding-bottom: 40px;
	}

	&__text {
		font-size: 2rem;
		font-weight: 300;
		line-height: 3rem;

		p {
			margin: 0 0 10px 0;
		}
	}

	&__form {
		padding: 40px 0;
		margin: 0 -15px;
		position: relative;
		background: url("../img/question__form_bg.jpg") 50% 50% no-repeat;
		background-size: cover;

		&_wrap {
			z-index: 10;
			margin: 0 auto;
			max-width: 336px;
			position: relative;
		}

		&_title {
			color: #fff;
			font-weight: 700;
			font-size: 1.8rem;
			text-align: center;
			line-height: 2.6rem;
			margin-bottom: 20px;
			text-transform: uppercase;
			font-family: $font-family-head;
		}

		.btn {
			width: 180px;
			margin-top: 15px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__form {
			margin: 0;
			padding: 40px 30px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__content {
			width: 50%;
			padding-right: 20px;
		}

		&__form {
			width: 50%;
			height: 470px;
			background: transparent;
			@include flexbox();
			@include flex-shrink(0);
			@include flex-direction(column);


			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				content: '';
				width: 846px;
				height: 470px;
				position: absolute;
				background: url("../img/question__form_bg.jpg") 50% 50% no-repeat;
			}

			&_wrap {
				margin: auto;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			width: auto;
			@include flex-grow(1);
		}

		&__form {
			width: 480px;
		}

		&__text {
			max-width: 550px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.cat {
	padding-top: 30px;
	padding-bottom: 30px;

	h2 {

	}

	&__row {
		max-width: 378px;
		margin: 0 auto;
	}

	&__item {
		margin-bottom: 50px;
		@include flexbox();
		@include flex-direction(column);

		&_image {
			display: block;
		}

		&_name {
			padding: 20px 0;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			margin: 0 -10px;
			max-width: inherit;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__item {
			width: calc(50% - 20px);
			margin: 0 10px 50px 10px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: calc(33% - 20px);
			margin: 0 10px 50px 10px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			margin: 0 -15px;
		}

		&__item {
			width: calc(33% - 30px);
			margin: 0 15px 50px 15px;

			&_name {
				font-size: 1.8rem;
				line-height: 2.2rem;
			}
		}
	}
}

.advantage {

	&__row {

	}

	&__item {
		text-align: center;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-bottom: 35px;

		&_icon {
			height: 60px;
			margin-bottom: 10px;
		}

		&_title {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			margin-bottom: 5px;
		}

		&_text {

		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;

		&__row {
			margin: 0 -23px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__item {
			text-align: left;
			width: calc(50% - 46px);
			margin: 0 23px 35px 23px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: calc(25% - 46px);
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}