.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	background: #fff;

	&.fix_top {
		border-bottom: 1px solid #D8D8D8;
	}

	&__row {
		height: 90px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		width: 80px;
		display: block;
		@include flex-shrink(0);
	}

	&__toggle {
		width: 60px;
		height: 60px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;

		&:after,
		&:before {
			left: 50%;
			z-index: 10;
			width: 24px;
			height: 2px;
			content: '';
			background: #000;
			margin-left: -12px;
			position: absolute;
			display: inline-block;
		}

		&:after {
			top: 20px;
		}

		&:before {
			bottom: 20px;
		}

		span {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 24px;
			height: 2px;
			content: '';
			background: #000;
			margin-top: -1px;
			margin-left: -12px;
			position: absolute;
			display: inline-block
		}
	}

	&__content {
		top: 0;
		left: 0;
		width: 260px;
		height: 100vh;
		z-index: 1100;
		display: block;
		position: fixed;
		background: #fff;
		padding: 30px 20px;
		margin-left: -300px;
		@include box-shadow(0px 0px 10px 0px rgba(212, 25, 25, 0.33));
		@include transition(.3s);
	}

	&__nav {
		padding: 0;
		font-size: 1.3rem;
		line-height: 1.7rem;
		list-style: none;
		margin: 0 0 30px 0;

		> li {
			margin-bottom: 10px;

			> a {
				padding: 2px 0;
				color: #272727;
				font-weight: 600;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;

				&:hover {
					color: $color-red;
					text-decoration: none;
					border-bottom-color: $color-red;
				}
			}

			&.active {

				> a {
					color: $color-red;
					border-bottom-color: $color-red;
				}
			}
		}
	}

	&__contact {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			&:first-child {
				margin-bottom: 15px;
			}
		}
	}

	&__phone {
		color: #272727;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2rem;
		position: relative;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #272727;
			text-decoration: none;
		}

		i {
			display: none;
		}

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}

	&.nav_open {

		.header__content {
			margin-left: 0;
			@include transition(.3s);
		}

		.header__toggle {

			span {
				display: none;
			}

			&:after {
				top: 29px;
				@include rotate(-45deg);
			}

			&:before {
				bottom: 29px;
				@include rotate(45deg);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		position: absolute;
		background: transparent;

		&__row {
			padding: 40px 0 0 0;
			height: auto;
		}

		&.fix_top {
			background: #fff;
			border-bottom: 1px solid #D8D8D8;

			.header__toggle {

				&:after,
				&:before {
					background: #000;
				}

				span {
					background: #000;
				}
			}
		}

		&__toggle {

			&:after,
			&:before {
				background: #fff;
			}

			span {
				background: #fff;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		background: transparent;

		&.fix_top {
			background: transparent;
			border-bottom: none;
		}

		&__toggle {
			opacity: 0;
			display: none;
			visibility: hidden;
		}

		&__content {
			margin: 0;
			top: auto;
			left: auto;
			width: auto;
			height: auto;
			padding: 0;
			position: relative;
			background: transparent;
			@include box-shadow(none);
			@include transition(0s);
			@include flex-grow(1);
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__nav {
			margin: 0 0 0 30px;
			@include flexbox();

			> li {
				margin: 0 15px;
			}
		}

		&__contact {
			@include flexbox();
			@include align-items(center);

			> li {

				&:first-child {
					margin: 0 30px 0 0;
				}
			}
		}

		&__phone {
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__logo {
			width: 115px;
		}

		&__nav {
			margin: 0 0 0 30px;
			@include flexbox();

			> li {
				margin: 0 22px;
			}
		}

		&__phone {
			margin-right: 35px;
			padding-left: 57px;

			i {
				left: 0;
				top: 50%;
				width: 42px;
				height: 42px;
				margin-top: -21px;
				position: absolute;
				display: inline-block;
			}
		}
	}
}
