.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 60px;
	padding-bottom: 70px;
	@include flex-grow(1);
}

.contacts {
	position: relative;

	&__map {
		height: 360px;
	}

	&__box {
		background: #fff;
		padding-bottom: 50px;

		h2 {
			margin-bottom: 25px;
		}
	}

	&__item {
		display: block;
		color: #272727;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2rem;
		position: relative;
		margin-bottom: 5px;
		text-decoration: none;
		padding: 5px 0 5px 57px;

		&:hover {
			color: #272727;
			text-decoration: none;
		}

		i {
			left: 0;
			top: 50%;
			width: 42px;
			height: 42px;
			margin-top: -21px;
			position: absolute;
			display: inline-block;
		}

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
		}

		a {
			color: #272727;
			text-decoration: none;

			&:hover {
				color: #272727;
				text-decoration: none;
			}
		}

		&_phone {
			background: url("../img/icon__phone.svg") 0 50% no-repeat;
		}

		&_email {
			background: url("../img/icon__email.svg") 0 50% no-repeat;
		}

		&_address {
			background: url("../img/icon__address.svg") 0 50% no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		height: 360px;

		.container {
			z-index: 30;
			position: relative;
		}

		&__box {
			top: 0;
			left: 0;
			width: 280px;
			height: 360px;
			position: absolute;
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 0;
				left: -2000px;
				z-index: 1;
				content: '';
				height: 100%;
				width: 2000px;
				display: block;
				background: #fff;
				position: absolute;
			}

			&_wrap {
				margin: auto 0;
				padding: 40px 15px;
			}
		}

		&__map {
			top: 0;
			right: 0;
			bottom: 0;
			width: calc(50% + 95px);
			z-index: 1;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 470px;

		&__map {
			height: 470px;
		}

		&__box {
			width: 400px;
			height: 470px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__map {
			width: calc(50% + 212px);
		}
	}
}

.heading {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.5;
	background: #fff;
	overflow: hidden;
	position: relative;

	.container {
		z-index: 10;
		position: relative;
	}

	&__image {
		top: 0;
		left: 0;
		z-index: 1;
		width: 1px;
		height: 1px;
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}

	&__wrap {
		padding: 120px 0 0 0;
		@include flexbox();
		@include flex-direction(column);
	}

	&__inner {
		margin: auto 0;
	}

	h1 {
		margin-bottom: 0;
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			height: 423px;
			padding: 150px 0 0 0;
		}

		&__content {
			width: 450px;
		}

		&__image {
			top: 0;
			left: 50%;
			width: 846px;
			height: 423px;
			margin-left: 115px;
			opacity: 1;
			visibility: visible;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__content {
			width: 600px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			width: 650px;
		}
	}
}

.goods_wrap {
	margin: 0 auto;
	max-width: 360px;
	padding-bottom: 22px;

	@media (min-width: $screen-sm-min) {
		width: 100%;
		max-width: inherit;
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 42px;
	}
}

.goods {
	margin-bottom: 48px;
	@include flexbox();
	@include flex-direction(column);

	&__image {
		display: block;
	}

	&__title {
		min-height: 84px;
		padding: 20px 0;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		@include flex-grow(1);
	}


	&__buttons {
		padding: 0;
		margin: 0 -8px;
		list-style: none;
		@include flexbox();

		> li {
			width: 50%;
			padding: 0 8px;
			@include flex-shrink(0);
		}

		.btn {
			padding: 12px 5px;
			width: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__title {
			padding: 20px 35px;
			font-size: 1.8rem;
			line-height: 2.2rem;
		}
	}
}

.content {
	padding-top: 80px;
}

.like {

	h2 {
		margin-bottom: 30px;
	}
}

.product {

	&__gallery {
		font-size: 0;
		line-height: 0;
		margin: 0 auto 30px auto;
		@include flex-shrink(0);

		&_thumbs {
			margin: 0 -6px;
			@include flexbox();
			@include justify-content(flex-start);
		}

		&_thumb {
			margin: 0 6px;
			display: block;
			position: relative;
			width: calc(25% - 12px);

			&:before {
				top: 0;
				height: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				position: absolute;
				visibility: hidden;
				border: 2px solid $color-red;
			}

			&:hover {
				opacity: 1;
			}
		}

		&_image {
			margin-bottom: 10px;
		}
	}

	&__info {


		&_title {
			font-size: 2rem;
			font-weight: 600;
			line-height: 2.4rem;
			margin-bottom: 10px;
		}

		&_text {
			font-size: 1.4rem;
			line-height: 2.8rem;
		}

		&_price {
			padding-top: 30px;
			font-weight: 600;
			font-size: 2rem;
			line-height: 3rem;
			margin-bottom: 40px;

			strong {
				font-size: 3rem;
				line-height: 2rem;
			}
		}

		.btn {
			width: 210px;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__gallery {
			margin: 0;
			width: calc(50% - 25px);
			@include flex-shrink(0);
		}

		&__info {
			padding-left: 40px;
			width: calc(50% - 25px);
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__info {
			padding-top: 25px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__gallery {
			width: 582px;
		}

		&__info {
			width: 550px;
		}
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}