
.modal {
	padding: 0;
	max-width: 384px;
	background: #fff;

	&__row {
		position: relative;
	}

	&__content {
		padding: 37px 24px 41px 24px;

		.btn {
			margin-top: 10px;
		}
	}

	&__success {
		height: 320px;
		text-align: center;
		padding: 20px 24px;
		@include flexbox();
		@include flex-direction(column);

		&_wrap {
			margin: auto 0;
		}

		&_icon {
			width: 98px;
			height: 98px;
			display: block;
			margin: 0 auto 24px auto;
		}

		.modal__title {
			margin-bottom: 0;
		}
	}

	&__image {
		top: 0;
		left: 0;
		opacity: 0;
		width: 1px;
		height: 1px;
		visibility: hidden;
		position: absolute;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&__title {
		color: #272727;
		font-weight: 700;
		font-size: 1.4rem;
		text-align: center;
		line-height: 2.6rem;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-family: $font-family-head;

		strong {
			display: block;
			font-size: 1.8rem;
		}

		span {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 643px;
		max-width: inherit;

		&__row {
			@include flexbox();
		}

		&__content {
			width: 384px;
			@include flex-shrink(0);
		}

		&__success {
			width: 384px
		}

		&__image {
			top: auto;
			left: auto;
			width: 259px;
			height: auto;
			opacity: 1;
			position: relative;
			visibility: visible;
			@include flex-shrink(0);
		}
	}
}
