
.btn {
	color: #272727;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 12px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffffff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #707070;
	@include transition(.2s);
	@include border-radius(23px);

	&:hover {
		color: #fff;
		background: #272727;
		border-color: #272727;
		@include transition(.2s);
	}

	&:active {
		color: #272727;
		background: #ffffff;
		@include transition(.2s);
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_red {
	color: #fff;
	background: #E84941;
	border-color: #E84941;

	&:hover {
		color: #fff;
		background: #e86963;
		border-color: #E84941;
		@include transition(.2s);
	}

	&:active {
		background: #E84941;
		border-color: #E84941;
	}
}

.btn_border_red {
	color: $color-red;
	border-color: $color-red;

	&:hover {
		color: #fff;
		background-color: $color-red;
	}
}

.btn_shadow {
	@include box-shadow(0px 0px 10px 0px rgba(212, 25, 25, 0.33));
}

.btn_md {
	padding: 17px 30px;
	@include border-radius(28px);
}


.btn_group {
	padding: 0;
	margin: 0 -7px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		padding: 7px;
	}
}

