.form_group {
	margin-bottom: 10px;
}

.form_control {
	margin: 0;
	width: 100%;
	height: 47px;
	outline: none;
	color: #ABABAB;
	font-weight: 400;
	background: #fff;
	font-size: 1.3rem;
	line-height: 1.5rem;
	padding: 15px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #D8D8D8;
	background: rgba(255,255,255,1);
	@include placeholder(#ABABAB);
	@include border-radius(8px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}
}

textarea.form_control {
	height: auto;
}